---
BasedOnStyle: Microsoft
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: true


BraceWrapping:
    AfterFunction: true
    AfterControlStatement: Never
    BeforeElse: false

