---
BasedOnStyle: Microsoft
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: true
SortIncludes: false

BraceWrapping:
    AfterFunction: true
    AfterControlStatement: Never
    BeforeElse: false

